 .u-section-1 {
  background-image: linear-gradient(var(--custom-color-6), white);
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-video-1 {
  height: 469px;
  width: 834px;
  margin: 39px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-text-1 {
  width: 299px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-video-1 {
    height: 405px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 469px;
}

.u-section-2 .u-text-1 {
  margin: 20px 397px 0 396px;
}

.u-section-2 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 20px auto 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-2 {
  width: 533px;
  height: 300px;
  margin: -300px 37px 60px auto;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 327px;
    margin-right: 327px;
  }

  .u-section-2 .u-video-1 {
    width: 399px;
    height: 225px;
    margin-left: 31px;
  }

  .u-section-2 .u-video-2 {
    width: 399px;
    height: 225px;
    margin-top: -225px;
    margin-right: 31px;
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-video-1 {
    width: 385px;
    height: 217px;
    margin-left: 168px;
    margin-right: 168px;
  }

  .u-section-2 .u-video-2 {
    width: 385px;
    height: 217px;
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 192px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-2 {
    width: 340px;
    height: 192px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, var(--custom-color-6));
}

.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-text-1 {
  width: 442px;
  margin: 34px auto 0;
}

.u-section-3 .u-video-1 {
  width: 442px;
  height: 252px;
  margin: 17px auto 0 79px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 448px;
  height: 252px;
  margin: -252px 79px 0 auto;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-video-3 {
  width: 448px;
  height: 252px;
  margin: 32px auto 0;
}

.u-section-3 .embed-responsive-3 {
  position: absolute;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 43px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-video-1 {
    width: 402px;
    height: 229px;
    margin-top: 18px;
    margin-left: 30px;
  }

  .u-section-3 .u-video-2 {
    width: 407px;
    height: 229px;
    margin-top: -229px;
    margin-right: 30px;
  }

  .u-section-3 .u-video-3 {
    margin-top: 18px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 18px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-video-2 {
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-video-3 {
    width: 407px;
    height: 229px;
    margin-top: 20px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 26px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-video-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-line-1 {
    height: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 194px;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-video-3 {
    width: 340px;
    height: 191px;
  }
}