 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('https://images.unsplash.com/photo-1619472351888-f844a0b33f5b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHw1fHxhdWRpb3xlbnwwfHx8fDE3MTcwNzcwNzl8MA&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 840px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 86px 6px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 893px;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 124px 6px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 741px;
    margin-top: 138px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 76px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 838px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 9px 0;
}

.u-section-2 .u-image-1 {
  width: 506px;
  height: 415px;
  --radius: 50px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -387px 549px 0 30px;
}

.u-section-2 .u-line-1 {
  width: 984px;
  transform-origin: left center;
  margin: 124px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 430px;
    height: 353px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -383px;
    margin-right: 451px;
    margin-left: 21px;
  }

  .u-section-2 .u-line-1 {
    width: 898px;
    margin-top: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-2 .u-image-1 {
    width: 323px;
    height: 265px;
    margin-top: 335px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -570px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 902px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
    width: 320px;
    height: 262px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-3 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 80px;
  margin-bottom: 34px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 836px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 63.29%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 324px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 40px 604px 0 0;
}

.u-section-3 .u-image-1 {
  object-position: 50% 58.19%;
  width: 413px;
  height: 217px;
  margin: -113px 0 -13px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0 324px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 40px 604px 0 0;
}

.u-section-3 .u-image-2 {
  width: 413px;
  height: 217px;
  margin: -113px 0 -13px auto;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 64.04%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0 324px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 40px 604px 0 0;
}

.u-section-3 .u-image-3 {
  object-position: 50% 64.04%;
  width: 413px;
  height: 217px;
  margin: -113px 0 -13px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-right: 124px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 404px;
  }

  .u-section-3 .u-image-1 {
    object-position: 50% 63.29%;
    inset: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 124px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 404px;
  }

  .u-section-3 .u-image-2 {
    inset: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 124px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 404px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 184px;
  }

  .u-section-3 .u-image-1 {
    width: 218px;
    height: 117px;
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-3 .u-image-2 {
    width: 218px;
    height: 117px;
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 184px;
  }

  .u-section-3 .u-image-3 {
    width: 218px;
    height: 117px;
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 4px;
  }

  .u-section-3 .u-image-1 {
    width: 153px;
    height: 93px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-right: 4px;
  }

  .u-section-3 .u-image-2 {
    width: 153px;
    height: 93px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 18px;
    margin-right: 4px;
  }

  .u-section-3 .u-image-3 {
    width: 153px;
    height: 93px;
    margin-top: 16px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 21px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 887px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 8px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 8px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 8px;
    margin-bottom: -7px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #eaeffd);
}

.u-section-4 .u-sheet-1 {
  min-height: 1442px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  width: 232px;
  font-size: 2.25rem;
  text-decoration: none solid rgb(0, 0, 0);
  margin: 18px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 32px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 359px;
  background-image: url("images/NewLogoColored.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 365px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-4 .u-text-2 {
  margin: 0 35px;
}

.u-section-4 .u-text-3 {
  margin: 23px 0 0 35px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 35px auto 0 35px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 419px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px 30px 12px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.23;
  font-size: 2.25rem;
  margin: 9px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-4 .u-image-2 {
  min-height: 419px;
  background-image: url("images/spatialaudiostudo.jpeg");
  background-position: 46.84% 60.37%;
  background-size: auto 155%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-2 {
  margin: 31px 0 60px;
}

.u-section-4 .u-image-3 {
  min-height: 400px;
  background-image: url("images/28.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 24px;
}

.u-section-4 .u-text-6 {
  margin: 36px 36px 0;
}

.u-section-4 .u-text-7 {
  margin: 18px 0 0 37px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0 36px;
}

.u-section-4 .u-line-1 {
  width: 984px;
  transform-origin: left center;
  position: absolute;
  top: 1392px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 426px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    height: 38px;
    width: 99px;
    margin-left: 0;
    padding: 7px 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-4 .u-btn-2 {
    height: 38px;
    width: 99px;
  }

  .u-section-4 .u-image-2 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 315px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    height: 38px;
    width: 99px;
    margin-left: 0;
    padding: 7px 0;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2287px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    background-size: 155%;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2456px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 658px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  width: 436px;
  letter-spacing: 16px;
  margin: 18px auto 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 494px;
  margin-top: 17px;
  margin-bottom: 0;
  height: auto;
  margin-left: 11px;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 222px;
  height: 125px;
  margin: 42px auto 0 26px;
}

.u-section-5 .u-image-2 {
  width: 297px;
  height: 167px;
  margin: -146px auto 0 297px;
}

.u-section-5 .u-image-3 {
  width: 197px;
  height: 197px;
  margin: -182px 315px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 142px;
  height: 142px;
  margin: -169px 93px 0 auto;
}

.u-section-5 .u-image-5 {
  width: 147px;
  height: 147px;
  --radius: 50px;
  margin: 41px auto 0 64px;
}

.u-section-5 .u-image-6 {
  width: 173px;
  height: 173px;
  margin: -160px auto 0 359px;
}

.u-section-5 .u-image-7 {
  width: 275px;
  height: 247px;
  margin: -210px 284px 0 auto;
}

.u-section-5 .u-image-8 {
  width: 142px;
  height: 142px;
  margin: -195px 93px 0 auto;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 359px;
  --radius: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-9 {
  width: 122px;
  height: 137px;
  margin: 21px 273px 0 auto;
}

.u-section-5 .u-image-10 {
  width: 83px;
  height: 93px;
  margin: -113px auto 0 61px;
}

.u-section-5 .u-image-11 {
  width: 80px;
  height: 90px;
  margin: -90px auto 0 463px;
}

.u-section-5 .u-image-12 {
  width: 85px;
  height: 95px;
  margin: -96px auto 0 258px;
}

.u-section-5 .u-image-13 {
  width: 90px;
  height: 90px;
  margin: -94px 80px 0 auto;
}

.u-section-5 .u-image-14 {
  width: 137px;
  height: 86px;
  margin: 64px auto 0 232px;
}

.u-section-5 .u-image-15 {
  width: 103px;
  height: 103px;
  margin: -108px auto 0 46px;
}

.u-section-5 .u-image-16 {
  width: 91px;
  height: 91px;
  margin: -81px auto 0 460px;
}

.u-section-5 .u-image-17 {
  width: 92px;
  height: 92px;
  --radius: 21px;
  margin: -89px 288px 0 auto;
}

.u-section-5 .u-image-18 {
  width: 89px;
  height: 89px;
  margin: -92px 91px 0 auto;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-group-2 {
  height: auto;
  min-height: 432px;
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-group-3 {
  height: auto;
  background-image: none;
  min-height: 339px;
  --radius: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-19 {
  width: 97px;
  height: 97px;
  margin: 43px auto 0 251px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: -72px auto 0 374px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 93px auto 0 524px;
}

.u-section-5 .u-image-20 {
  width: 72px;
  height: 48px;
  margin: -48px auto 0 407px;
}

.u-section-5 .u-line-1 {
  width: 912px;
  margin: 60px auto 18px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    margin-top: 16px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 178px;
    height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 227px;
    height: 128px;
    margin-top: -114px;
    margin-left: 210px;
  }

  .u-section-5 .u-image-3 {
    width: 160px;
    height: 160px;
    margin-top: -137px;
    margin-right: 324px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -158px;
    margin-right: 113px;
  }

  .u-section-5 .u-image-5 {
    width: 119px;
    height: 119px;
    margin-top: 55px;
    margin-left: 44px;
  }

  .u-section-5 .u-image-6 {
    width: 156px;
    height: 156px;
    margin-top: -154px;
    margin-left: 234px;
  }

  .u-section-5 .u-image-7 {
    width: 276px;
    height: 248px;
    margin-top: -197px;
    margin-right: 266px;
  }

  .u-section-5 .u-image-8 {
    width: 157px;
    height: 157px;
    margin-top: -191px;
    margin-right: 98px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-image-9 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 0;
    margin-right: 223px;
  }

  .u-section-5 .u-image-10 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -103px;
    margin-left: 17px;
  }

  .u-section-5 .u-image-11 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -94px;
    margin-left: 367px;
  }

  .u-section-5 .u-image-12 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -90px;
    margin-left: 165px;
  }

  .u-section-5 .u-image-13 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -104px;
    margin-right: 59px;
  }

  .u-section-5 .u-image-14 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 88px;
    margin-left: 140px;
  }

  .u-section-5 .u-image-15 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -94px;
    margin-left: 8px;
  }

  .u-section-5 .u-image-16 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -103px;
    margin-left: 357px;
  }

  .u-section-5 .u-image-17 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -92px;
    margin-right: 237px;
  }

  .u-section-5 .u-image-18 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: -84px;
    margin-right: 59px;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-image-19 {
    margin-top: 77px;
    margin-left: 154px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 156px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: 309px;
    margin-left: auto;
  }

  .u-section-5 .u-image-20 {
    margin-left: 306px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-tabs-1 {
    min-height: 421px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 155px;
    height: 85px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -105px;
    margin-left: 125px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -146px;
    margin-right: 223px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -149px;
    margin-right: 60px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 23px;
    margin-left: 27px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -135px;
    margin-left: 196px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -193px;
    margin-right: 139px;
  }

  .u-section-5 .u-image-8 {
    width: 110px;
    height: 110px;
    margin-right: 54px;
  }

  .u-section-5 .u-image-9 {
    width: 115px;
    height: 129px;
    margin-right: 159px;
  }

  .u-section-5 .u-image-10 {
    width: 71px;
    height: 80px;
    margin-top: -95px;
  }

  .u-section-5 .u-image-11 {
    width: 72px;
    height: 81px;
    margin-top: -86px;
    margin-left: 283px;
  }

  .u-section-5 .u-image-12 {
    width: 72px;
    height: 81px;
    margin-top: -81px;
    margin-left: 152px;
  }

  .u-section-5 .u-image-13 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-right: 50px;
  }

  .u-section-5 .u-image-14 {
    margin-top: 67px;
    margin-left: 119px;
  }

  .u-section-5 .u-image-15 {
    margin-top: -96px;
    margin-left: 0;
  }

  .u-section-5 .u-image-16 {
    width: 79px;
    height: 79px;
    margin-top: -89px;
    margin-right: 171px;
    margin-left: auto;
  }

  .u-section-5 .u-image-17 {
    width: 85px;
    height: 85px;
    margin-top: -84px;
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-5 .u-image-18 {
    margin-top: -85px;
    margin-right: 41px;
  }

  .u-section-5 .u-group-3 {
    min-height: 418px;
  }

  .u-section-5 .u-image-19 {
    margin-top: 82px;
    margin-left: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 42px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 42px;
    margin-right: 233px;
  }

  .u-section-5 .u-image-20 {
    margin-left: 163px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
    margin-top: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-top: 22px;
    margin-left: 7px;
  }

  .u-section-5 .u-image-2 {
    width: 143px;
    height: 81px;
    margin-top: -75px;
    margin-left: 137px;
  }

  .u-section-5 .u-image-3 {
    width: 126px;
    height: 126px;
    margin-top: -104px;
    margin-right: 139px;
  }

  .u-section-5 .u-image-4 {
    width: 106px;
    height: 106px;
    margin-top: -114px;
    margin-right: 29px;
  }

  .u-section-5 .u-image-5 {
    width: 83px;
    height: 83px;
    margin-top: 48px;
    margin-left: 29px;
  }

  .u-section-5 .u-image-6 {
    width: 105px;
    height: 105px;
    margin-top: -94px;
    margin-left: 146px;
  }

  .u-section-5 .u-image-7 {
    width: 196px;
    height: 176px;
    margin-top: -140px;
    margin-right: 104px;
  }

  .u-section-5 .u-image-8 {
    width: 85px;
    height: 85px;
    margin-top: -131px;
    margin-right: 39px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-9 {
    width: 105px;
    height: 119px;
    margin-top: 16px;
    margin-right: 98px;
  }

  .u-section-5 .u-image-10 {
    width: 69px;
    height: 74px;
    margin-top: -93px;
    margin-left: 13px;
  }

  .u-section-5 .u-image-11 {
    width: 66px;
    height: 75px;
    margin-top: -77px;
    margin-left: auto;
  }

  .u-section-5 .u-image-12 {
    width: 65px;
    height: 75px;
    margin-top: -75px;
    margin-left: 119px;
  }

  .u-section-5 .u-image-13 {
    width: 73px;
    height: 73px;
    margin-top: -76px;
    margin-right: 23px;
  }

  .u-section-5 .u-image-14 {
    width: 108px;
    height: 65px;
    margin-top: 80px;
    margin-left: 108px;
  }

  .u-section-5 .u-image-15 {
    width: 82px;
    height: 82px;
    margin-top: -76px;
    margin-left: 13px;
  }

  .u-section-5 .u-image-16 {
    width: 68px;
    height: 68px;
    margin-top: -75px;
    margin-right: auto;
    margin-left: 218px;
  }

  .u-section-5 .u-image-17 {
    width: 75px;
    height: 75px;
    margin-top: -71px;
    margin-right: 128px;
    margin-left: auto;
  }

  .u-section-5 .u-image-18 {
    width: 86px;
    height: 86px;
    margin-top: -80px;
    margin-right: 17px;
  }

  .u-section-5 .u-image-19 {
    margin-top: 71px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -96px;
    margin-right: 49px;
    margin-left: 179px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 52px;
    margin-right: auto;
    margin-left: 208px;
  }

  .u-section-5 .u-image-20 {
    margin-top: -44px;
    margin-left: 122px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-tabs-1 {
    min-height: 520px;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 109px;
    height: 59px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -69px;
    margin-right: 89px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: -5px;
    margin-right: auto;
    margin-left: -1px;
  }

  .u-section-5 .u-image-4 {
    width: 83px;
    height: 83px;
    margin-top: -204px;
    margin-right: 21px;
  }

  .u-section-5 .u-image-5 {
    width: 74px;
    height: 74px;
    margin-top: 21px;
    margin-right: 124px;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    margin-top: 32px;
    margin-left: 41px;
  }

  .u-section-5 .u-image-7 {
    width: 149px;
    height: 134px;
    margin-top: -105px;
    margin-right: 21px;
  }

  .u-section-5 .u-image-8 {
    width: 66px;
    height: 66px;
    margin-top: -232px;
    margin-right: 23px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-5 .u-image-9 {
    margin-top: 84px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-10 {
    margin-top: -181px;
    margin-left: 23px;
  }

  .u-section-5 .u-image-11 {
    margin-top: -70px;
    margin-right: 32px;
  }

  .u-section-5 .u-image-12 {
    margin-left: auto;
  }

  .u-section-5 .u-image-13 {
    margin-top: 169px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-5 .u-image-14 {
    margin-top: -229px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-5 .u-image-15 {
    margin-top: -72px;
    margin-left: 121px;
  }

  .u-section-5 .u-image-16 {
    margin-top: 0;
    margin-left: 67px;
  }

  .u-section-5 .u-image-17 {
    width: 69px;
    height: 69px;
    margin-top: 17px;
    margin-right: 69px;
  }

  .u-section-5 .u-image-18 {
    width: 78px;
    height: 78px;
    margin-top: -159px;
    margin-right: 69px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 105px;
    min-height: 163px;
  }

  .u-section-5 .u-group-3 {
    min-height: 259px;
    margin-top: -105px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-19 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -111px;
    margin-right: -47px;
    margin-left: 117px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 37px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-image-20 {
    margin-top: -48px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
    margin-top: 35px;
  }
}